.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .nameStyle {
    font-size: 5em;
  }
  
  .inlineChild {
    display: inline-block;
  }