.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    
  }
  
  .nameStyle {
    font-size: 5em;
  }
  
  .inlineChild {
    display: inline-block;
  }

  .Typewriter__wrapper {
    font-size: xx-large;
    font-weight: bold;
  }
  
  .Typewriter__cursor {
    font-size: xx-large;
    font-weight: bold;
  }
  
  
  
  