/* Header.css */
.header {
  background-color: #212529;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-weight: bold;
  position: relative;
  transition: color 0.8s ease;
}

.header a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff6600;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

/* Style des liens actuellement cliqués (ajoutez ceci) */
.header .header-navbar-link.active {
  color: #ff6600; /* Couleur du texte en orange pour les liens actifs */
}

.header a:hover {
  color: #ff6600;
}

.header a:hover::after {
  width: 100%;
}

