/* Competence.css */

.competenceContainer {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    margin-top : 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Style des icônes */
  .competenceContainer svg {
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  /* Animation au survol */
  .competenceContainer svg:hover {
    transform: scale(1.2); /* Agrandir l'icône au survol */
    color: #e97f39; /* Couleur de l'icône au survol */
    border: 2px solid orange;
    border-radius: 10%; /* pour arrondir les coins de l'icône */
    
  }
  
.wrapper {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  list-style-type: none;
  margin: auto !important;
  gap: 15px; 
}